.btn {
  font-size: rem(16);
  padding: rem(13.5) rem(22);
  white-space: nowrap;
  font-weight:600;
  border-radius: 0;
  box-shadow: 0px 2px 4px #5B030352;
border-width: 2px;
letter-spacing: 0.16px;
  @include transition(all 0.3s linear);
  text-decoration: none;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;

  }
}

.btn-outline-light {
  padding: rem(16) rem(30);

  &:focus,
  &:hover {
    border-color: $white;
    background-color: $white;
    color: $dark-grey;
  }
}

.btn-sm {
  color: $white;
  padding: rem(11) rem(30);
  border:2px solid;
}

.btn-alt {
  display: inline-block;
  background-color: $red;
  border-color: $red;
  color: $white;
  padding-right: 66px;
 &::after{
    background-image: url(../img/icons/button-arrow.png);
  }
  &:hover,
  &:focus {
    border-color: $black;
    background-color: $black;
    color: $white;
  }
}

.btn-alt2 {
  display: inline-block;
  padding: rem(10) rem(30);
  border: 2px solid $blue;
  background-color: transparent;
  color: $blue;
  &:focus,
  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}

.btn-on-color {
  display: inline-block;
  background-color: $white;
  color: $red;
  border-color: $white;
  padding-right: 66px;
   &::after{
    background-image: url(../img/icons/button-arrow-red.png);
  }
  &:focus,
  &:hover {
    background-color: transparent;
    color: $white;
    border-color: $white;
     &::after{
    background-image: url(../img/icons/button-arrow.png);
  }
  }

}

.btn-alt-on-color {
  display: inline-block;
  border: 2px solid $red;
  background-color: $red;
  padding-right: 66px;
  color: $white;
   &::after{
    background-image: url(../img/icons/button-arrow.png);
  }
  &:focus,
  &:hover {
    border-color: $white;
    background-color: transparent;
    color: $white;
      &::after{
    background-image: url(../img/icons/button-arrow-red.png);
  }
  }
}

.btn-wrap {
  margin-bottom: rem(25);
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(center);
  > button,
  > a {
    margin: 0 rem(10) rem(20) 0;
  }
}

.btn-bg {
  width: rem(330);
  /*height: rem(88);*/
  max-width: 100%;
  background-color: $dark-grey;
  padding: rem(12) 0;
  display: inline-block;
  text-align: center;
  margin-bottom: rem(25);
  vertical-align: top;
  .btn{
    margin:rem(5) !important;
  }
  &.red-btn-bg {
    background-color: $dark-grey;
  }
  &:nth-of-type(2) {
    padding-top: rem(19);
  }
  @include media-breakpoint-up(lg) {
    margin: 0 rem(15) rem(20) 0;
  }
}


.btn-primary {
  background-color: $red;
  border-color: $red;
  color: $white;
  padding-right: 66px;
  &::after{
    background-image: url(../img/icons/button-arrow.png);
  }
  &:hover, &:focus{
  background-color: transparent;
  border-color: $red;
color: $red;
&::after{
    background-image: url(../img/icons/button-arrow-red.png);
  }
}
}

.gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit], body .gform_wrapper .gform_footer input.button{
  background-color: $red;
  color: $white;
  border-color: $red;
  font-weight: 600;
  border-radius: 0;
  text-align: center;
  margin: auto;
  &:hover, &:focus{
    background-color: transparent;
    color: $red;
    border-color: $red;
  }
}

.btn-secondary{
  padding-right: 66px;
  &::after{
    background-image: url(../img/icons/button-arrow.png);
  }
}